<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Download Files</title>
</head>
<body>
  div Files:
  each file, i in files
    - var path = "/files/" + file.name 
    div #{i+1}. 
      a(href=path, download) #{file.name} 
      #{file.size}
</body>
</html>